/*.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 24px 32px;
}*/




.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  background-color: black;
  padding: 10px;
  /*justify-content: center;*/
}

.grid-container > div {
  background-color: yellow;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#poster{
background: #B9B9B9;
  height: 100vh;
  width:50vw;
}

/*@media screen and (max-width: 700px) 
{
  .grid-container
  {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  #poster 
  {
    /*grid-column: 1/span 1;
    grid-row: 1/2;
  }
/*    #One{
    grid-column: 2/span 1;
  }
}*/


#MATHETA{
position:relative;
background-color: red;
color:yellow;
margin-top: 20%;
font-size:14vw;
}

#Dance{
  position:relative;
  color:red;
  margin: 20px 0px 50px 0px;
}

#missionStatement{
  width:80%;
  position:relative;
 /* background-color:#554D4D;*/
  color:black;
  font-size:50%;
  margin: 50px 0px 0px 5vw;
  text-align: justify;
}